# fly.toml app configuration file generated for bookrecs-api on 2025-12-02T15:04:43Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'bookrecs-api'
primary_region = 'lhr'

[build]
  dockerfile = "Dockerfile"
  context = "."
  
[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
